/* Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */


*{

	margin: 0;
	padding: 0;

} 

html, body{

	background-color: rgb(223,227,238);
	height: 100%;

}

table{

	display: table;
	border-spacing: 10px 2px;
	border-color: gray;
	border-collapse: separate;
	
}

tbody{

	display: table-row-group;
    vertical-align: middle;
    border-color: inherit;

}

.inforow{

	height: 51px;

}

h1{
	
	color: white;
	font-family: "Arial", Helvetica, sans-serif;
	border: 10px solid rgb(59,89,152);
	padding-top: 20px;
	background-color: rgb(59,89,152);
	display: flex;
    justify-content: space-around;

}

.bannerlink{

	text-decoration: none;
	color: white;

}

#login{

	font-size: 40%;

}

#main{

	display: flex;
	justify-content: space-around;
	padding-top: 20px;

}

#info{

	font-family: "Arial", Helvetica, sans-serif;

}

#titlelite{

	font-family: "Arial", Helvetica, sans-serif;
	font-size: 200%;
	text-align: center;
	padding-top: 20px;

}

#infobody{

	white-space: nowrap;

}

#signup{

	font-family: "Arial", Helvetica, sans-serif;

}

#title{

	font-family: "Arial", Helvetica, sans-serif;
	font-size: 200%;
	font-weight: bold;
	text-align: center;

}

#text{

	margin-left: 1em;

}

.wrapper{

	min-height:100%;

}

.inwrapper{

	overflow: auto;
	padding-bottom: 100px;

}

.footer{

	/*Sticky footer CSS courtest of: http://www.cssstickyfooter.com/;*/
	background-color: white;
	text-align: center;
	margin-top: -100px;
	height: 100px;
	clear:both;

}

.infocell{

	display: flex;

}

.button{

	background-color: black;

}

#firstname, #lastname, #Susername, #Spassword, #email{

	color: gray; 

}