*{
	margin: 0;
	padding: 0;
}

html, body{
	height: 100%;
	font-family: "Arial", Helvetica, sans-serif;
}

	.wrapper{
		min-height:100%;
		overflow: auto;
		padding-bottom: 50px;
	}

		.banner{
			margin: 0 auto;
			padding: 0;
			width: 100%;
			overflow: hidden;
			background-color: rgb(0, 0, 0);
			display: flex;
			justify-content: space-between;
		}

			.titlelink{
				padding-left: 15px;
				text-decoration: none;
				color: rgb(255, 0, 0);
				font-family: "Impact", Charcoal, sans-serif;
				font-size: 200%;
			}

			.logindiv{
				padding-top: 35px;
				padding-right: 15px;
				text-decoration: none;
				color: rgb(255, 0, 0);
			}

				.logintable{
					display: table;
					border-spacing: 10px 2px;
					border-color: gray;
					border-collapse: separate;
				}

					.bannerlink{
						text-decoration: inherit;
						color: inherit;
					}

						.bannerlink:hover{
							text-decoration: underline;
						}

					.profilecrop{
						width: 100px;
						height: 100px;
						overflow: hidden;
					}

					.profilecrop img{
						height: 250px;
					}

		.mainpage{
			display: flex;
			justify-content: space-around;
			padding-top: 20px;
		}

			.bigprofilecrop{
				width: 250px;
				height: 250px;
				overflow: hidden;
			}

			.bigprofilecrop img{
				height: 250px;
			}

	.footer{
		/*Sticky footer CSS courtesy of: http://www.cssstickyfooter.com/;*/
		background-color: white;
		text-align: center;
		margin-top: -50px;
		height: 50px;
		clear: both;
		color: gray;
	}